<h1> New Appointment for <%= @appointment.user.name %></h1>
<h2> <%= @appointment.user.boat.name %> is <%= @appointment.user.boat.length %> feet, is docked at
  <%= @appointment.user.boat.location %> and needs a
  <%= @appointment.title %> for <%= @appointment.time %>
</h2>
<th>
  <% @appointment.services.each do |k, v| %>
    <h3><%= k %>: $<%= v %></h3>

  <% end %> </th>

<% if @appointment.additional_instructions? %>
  <h3> Additional instructions: <%= @appointment.additional_instructions %></h3>
<% end %>

<h3> Total <%= @appointment.total %></h3>