
<div class="container-flex p-3">
  <div class="row">
    <div class="col-lg">
    <table class="table">
      <thead>
      <tr>
        <th scope="col"> ID</th>
        <th scope="col"> User</th>
        <th scope="col"> Time</th>
        <th scope="col"> Location</th>
        <th scope="col"> Total</th>
        <th scope="col"> Status</th>
      </tr>
      </thead>
      <tbody>
      <% @appointments.each do |appointment| %>
      <tr>
        <th><%= link_to appointment.id, appointment %> </th>
        <th><%= link_to appointment.user.name, appointment.user %> </th>
        <th><%= appointment.time %> </th>
        <th><%= appointment.user.boat.location %> </th>
        <th>$ <%= appointment.total %> </th>
        <% if appointment.is_paid %>
          <th class="paid">Paid</th>
        <% else %>
          <th class="unpaid">Unpaid</th>
        <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>