<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-3 offset-4">
      <% if @appointment.is_paid %>
        <strong class="paid">PAID</strong>
        <% else %>
      <strong class="unpaid">NOT PAID</strong>
        <%end  %>
    </div>
  </div>
</div>
<div class="container flex">
  <div class="row p-2">
    <div class="col">
      <strong> Appointment </strong>
    </div>
    <div class="col">
      <strong> Time </strong>
    </div>
    <div class="col">
      <strong> Additional Instructions </strong>
    </div>
    <div class="col">
      <strong> Services </strong>
    </div>
    <div class="col">
      <strong> Total </strong>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md">
      <p> <%= @appointment.title %> </p>
    </div>
    <div class="col-md">
      <p> <%= @appointment.time %> </p>
    </div>
    <div class="col-md">
      <p> <%= @appointment.additional_instructions %> </p>
    </div>
    <div class="col-md">
      <p> <%= @appointment.services %> </p>
    </div>
    <div class="col-md">
      <b><p class="paid"> $ <%= @appointment.total %> </p></b>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_appointment_path(@appointment) %>
