<p id="notice"><%= notice %></p>
<div class="container-flex p-3">
  <div class="row">

    <!-- User & Boat -->

    <div class="col-md-4">
      <div class="row">
        <div class="container">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= link_to @user.name, @user %></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= @user.phone %></li>
              <li class="list-group-item"><%= @user.email %></li>
            </ul>
      </div>
        </div>
      </div>
      <div class="row pt-3">
        <div class="container">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= link_to @boat.name, @user %></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= @boat.location %></li>
              <li class="list-group-item"><%= @boat.length %> ft</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Appointment details -->

    <div class="col-md-8">
      <table class="table">
        <thead>
        <tr>
          <th scope="col"> Type </th>
          <th scope="col"> Time </th>
          <th scope="col"> Instructions </th>
          <th scope="col"> Services </th>
          <th scope="col"> Total </th>
          <th scope="col"> Status </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th> <%= @appointment.title %> </th>
          <th> <%= @appointment.time %> </th>
          <th> <%= @appointment.additional_instructions %> </th>
          <th>
            <% @services.each do |k, v| %>
              <p><%= k %>:      $<%= v %></p>

            <% end %> </th>
          <th> <%= @appointment.total %> </th>
          <% if @appointment.is_paid %>
            <th class="paid">Paid</th>
          <% else %>
            <th class="unpaid">Unpaid</th>
          <%end  %>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<%= link_to 'Edit', edit_appointment_path(@appointment) %>
