<% %>
<div class="container">
  <div class="col-md-6 offset-4 pt-2">
    <h1>Appointments</h1>
  </div>
  <div class="container flex">
    <br/>
    <div class="row">
      <div class="col">
        <h5>ID</h5>
      </div>
      <div class="col">
        <h5>User</h5>
      </div>
      <div class="col">
        <h5>Time</h5>
      </div>
      <div class="col">
        <h5>Location</h5>
      </div>
      <div class="col">
        <h5>Total</h5>
      </div>
      <div class="col">
        <h5>Status</h5>
      </div>
    </div>
    <br/>
  </div>
  <%= @appointments.each do |appointment| %>
    <div class="container flex">
    <div class="row">
      <div class="col">
        <p> <%= link_to appointment.id, appointment %> </p>
      </div>
      <div class="col">
        <p> <%= link_to appointment.user.name, appointment.user %> </p>
      </div>
      <div class="col">
        <p> <%= appointment.time %></p>
      </div>
      <div class="col">
        <p> <%= appointment.user.boat.location %></p>
      </div>
      <div class="col">
        <p> $ <%= appointment.total %> </p>
      </div>
      <% if appointment.is_paid %>
        <div class="col">
          <p class="paid"> <%= appointment.is_paid %> </p>
        </div>
      <% else %>
        <div class="col">
          <p class="unpaid"> <%= appointment.is_paid %> </p>
        </div>
      <% end %>
    </div>
    </div>
  <% end  %>
</div>